*{
    margin: 0;
    padding: 0;
   
}
body{
    background-image: url(https://previews.123rf.com/images/macgyverhh/macgyverhh1107/macgyverhh110700052/10054021-pile-of-newspaper.jpg);
}
.head{
    background-color: black;
    color: white;
    height: 65px;
}
.top-btn{
    width: 100px;
    height: 40px;
}
.top-btn img{
    height: 40px;
    width: 20px;
}

.img{
    height: 60px;
    width: 130px;
    float: left;
}

.logo{
    height: 60px;
    width: 130px;
    float: right;
}
.start{
    height: 60px;
    width: 1600px;
    float: left;

}
.start img{
    height: 60px;
    width: 40px;
    margin-left: 340px;

}
.start h2{
    margin-left: 340px !important;
    font-weight: bold;
    color: gray;
}
.main-div{
    margin: auto;
    top: 5%;
  width: 50%;
  height: 200px;
  margin-top: 100px;
  padding: 10px;
  background-color: black;
  border-radius: 25px;
}
.top-text{
    text-align: center;
    background-color: white;
    width: 60%;
    margin: auto;
    height: 50px;
}
#div-container{
    margin-top: 30px;
}
.top-text h3{
    position: relative;
    font-weight: bold;
    color: black;
    align-items: center;
}
#btn1{
    display: inline-block;
    margin-left: 33px;
    width: 197px;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(247, 247, 76);
    color: black;
    font-weight: bold;
}
#btn2{
    display: inline-block;
    margin-left: 40px;
    width: 197px;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(247, 247, 76);
    color: white;
    color: black;
    font-weight: bold;
}
.second-div{
    margin: auto;
    top: 5%;
  width: 50%;
  margin-top: 100px;
  padding: 10px;
}
.saved{
    height: 55px;
    width: 650px;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 12px;
}
.btnx0{
    height: 35px;
    width: 210px;
   background-color: white;
   font-weight: bold;
   margin-top: 8px;
   margin-left: 5px;
}
.btnx{
    height: 35px;
    width: 120px;
   background-color: white;
   font-weight: bold;
   margin-top: 8px;
   margin-left: 5px;
}
.btnx1{
    height: 30px;
    width: 106px;
    background-color: rgb(247, 247, 76);
   border-radius: 10px;
   font-weight: bold;
   margin: 2px;
}
.btnx2{
    height: 30px;
    width: 190px;
    background-color: rgb(247, 247, 76);
   border-radius: 10px;
   font-weight: bold;
}
.btnx3{
    height: 30px;
    width: 164px;
    background-color: rgb(247, 247, 76);
   border-radius: 10px;
   font-weight: bold;
   margin: 2px;
}

.textarea{
    position: relative;
    width: 96%;
    height: auto;
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 15px;
}
.myicon{
    cursor: pointer;
}
.third-div{
    margin: auto;
    top: 5%;
  width: 50%;
  margin-top: 100px;
  padding: 10px;
}
.categories{
    height: 120px;
    width: 650px;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 12px;
}
.oneline{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.content{
    text-align: center;
    width: 60%;
    margin: auto;
    height: 50px;
    margin-top: 25px;
}
.right{
    float: right;
}
i{
    height: 5px;
    width: 20px;
    position:absolute;
    right: 5px;
    bottom: 5px;
    color: black;
    
}
.second-div .stored .myicon{
    color: red;
}
.oneline .btnx1:hover{
 background-color: lightblue;
}
.oneline .btnx3:hover{
    background-color: lightblue;
   }
   .hurray:hover{
    background-color: lightgrey;
   }